<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeK4D3txGTUCQJAthCc9_PkeWFtiTr71M</string>
	<key>GCM_SENDER_ID</key>
	<string>811480831851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.famkafe.famkafeapp</string>
	<key>PROJECT_ID</key>
	<string>fam-kafe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fam-kafe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811480831851:ios:d73b22f8c8c2e90056de2e</string>
</dict>
</plist>